/**
*
*
*
* 
*
**/

$map-player: blue;
$map-wall  : gray;
$map-space : black;

$cell-size : 1em;

#main {
	
}

#main-map {
	;
	div {
		display: inline-block;
		width: $cell-size;
		height: $cell-size;
		line-height: $cell-size;
		text-align: center;
		vertical-align: bottom;
		background-color: #EEE;
		
		border: 1px solid black;
		
		img {
			$width-increase : 50%;
			
			display: inline-block;
			width: 100% + $width-increase;
			position: relative;
			right: $width-increase / 2;
			bottom: $width-increase / 2;
		}
		
	}
	img {
		;
	}
}